{% extends 'base.html' %}
{% load humanize %}
{% block content %}

<br><br>
<div class="container">
    <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{product.picture.url}}" class="img-fluid rounded-start" alt="..." width="300" height="300">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{product.name}}</h5>
              <p class="card-text">{{product.description}}</p>
              {% if product.is_sale %}
              <p class="card-text"> قیمت : <strike>{{product.price | intcomma}}</strike> - {{product.sale_price | intcomma}} تومان</p>
              {% else %}
              <p class="card-text"> قیمت :{{product.price | intcomma}} تومان</p>
              {% endif %}
              تعداد :
              <select class="form-select" id="cart-qty">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
              <button class="btn btn-secondary" type="button" value="{{product.id}}" id="add-cart">اضافه کردن به سبد خرید</button>
              <a href="{% url 'home' %}" class="btn btn-secondary">بازگشت به صفحه اصلی</a>
            </div>
          </div>
        </div>
      </div>
</div><br>
<div class="text-center">
  <h2>محصولات مشابه</h2>
</div>
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
          {% for similarproduct in similar_products %}
          <div class="col mb-5">
              <div class="card h-100">
                  <!-- Product image-->
                  <img class="card-img-top" src="{{similarproduct.picture.url}}" alt="..." />
                  <!-- Product details-->
                  <div class="card-body p-4">
                      <div class="text-center">
                          <!-- Product name-->
                          <h5 class="fw-bolder">{{similarproduct.name}}</h5>
                          <!-- Product price-->
                          <div class="d-flex justify-content-center small text-warning mb-2">
                              {% with ''|center:similarproduct.star as range %}
                              {% for _ in range %}
                              <div class="bi-star-fill"></div>
                              {% endfor %}
                              {% endwith %}
                          </div>
                          {% if similarproduct.is_sale %}
                          <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">تخفیف ویژه</div>
                          <strike>{{similarproduct.price | intcomma}} تومان </strike> <br>
                          {{similarproduct.sale_price | intcomma}} تومان 
                          {% else %}
                          {{similarproduct.price | intcomma}} تومان 
                          {% endif %}
                      </div>
                  </div>
                  <!-- Product actions-->
                  <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                      <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'product' similarproduct.id %}">مشاهده</a></div>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
  </div>
</section>

<script>
    $(document).on('click','#add-cart',function(e){
        e.preventDefault();
        $.ajax({
            type:'POST',
            url:'{% url "cart_add" %}',
            data:{
                product_id:$('#add-cart').val(),
                product_qty:$('#cart-qty option:selected').text(),
                csrfmiddlewaretoken:'{{csrf_token}}',
                action:'post'
            },
            success:function(json){
                console.log(json)
                document.getElementById('cart_quantity').textContent=json.qty
                location.reload();
            },
            error:function(xhr,errmsg,err){
                
            }
        })
    })
</script>
{% endblock %}